{
  "parser": "@typescript-eslint/parser",
  "plugins": ["unused-imports", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "unused-imports/no-unused-imports": "error",
    "no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}
